[submodule "src/ext/entityx"]
	path = src/ext/entityx
	url = git@github.com:alecthomas/entityx.git
[submodule "src/ext/tinyxml2"]
	path = src/ext/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "src/ext/googletest"]
	path = src/ext/googletest
	url = git@github.com:google/googletest.git
[submodule "src/ext/moment"]
	path = src/ext/moment
	url = git@github.com:KarelCasier/moment.git
